.mainContent {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.sideFill {
  flex: 1;
}

.formContainer {
  flex: 6;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  padding: 10px;
}

.formContainer input[type="text"] {
  width: 100%;
  padding: 10px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formContainer textarea {
  width: 100%;
  padding: 10px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.submitButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 1000;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #45a049;
}

.submitButton:hover {
  border-color: black;
}

.deleteButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 1000;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #f14e4e;
}

.deleteButton:hover {
  border-color: black;
}

/* View Experience styling components*/
.expContainer {
  flex: 6;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.photoSection {
  width: 100%;
  height: 300px;
  background-color: aqua;
}

.titleSection {
  padding: 0 10px;
  border-bottom: 1px solid black;
}

.detailsSection {
  padding: 0 10px;
  border-bottom: 1px solid black;
}