.loginContainer {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.sideFill {
    flex: 2;
}

.loginFormContainer {
    flex: 6;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgba(255,255,255,0.09);
    padding: 15px;
    border-radius: 8px;
}

.loginFormContainer input[type="text"], input[type="password"]  {
    width: 100%;
    padding: 10px 5px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgba(255,255,255,0.11);
    color: white;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

.loginError {
    background-color:#f2827e;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

.submitButton {
    width: 100%;
    /* make primary color of application */
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }