.experienceContainer {
  border-radius: 8px;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.09)
}

.sideFill {
  flex: 1;
}

.experienceMain {
  flex: 6;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}
