.experienceContainer {
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  text-align: left;
  margin: 0 0 10px 0;
  padding: 5px;
  cursor: pointer;
}

.sideFill {
  flex: 1;
}

.experienceMain {
  flex: 6;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.contentContainer {
    display: flex;
    flex-direction: row;
}
