/* View Experience styling components*/
.mainContent {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.sideFill {
  flex: 1;
}

.expContainer {
  flex: 6;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255,0.09);
}

.photoSection {
  width: 100%;
  height: 300px;
  position: relative;
}

#image {
  width: 100%;
  height: 100%;
}

.titleSection {
  padding: 10px 10px;
  border-bottom: 1px solid black;
}

.detailsSection {
  padding: 0 10px;
  border-bottom: 1px solid black;
}

.editExperienceButton {
  background: #4E9CAF;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

#editImageBtn {
  position: absolute;
  bottom: 2%;
  right: 2%;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}