.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    transition: opacity 1s;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.dotter {
  height: 40px;
  width: 40px;
  border-radius:50%;
  transform: scale(0);
  background-color:red;
  animation: scaling 2.5s ease-in-out infinite;
  display: inline-block;
  margin:.5rem;
}

.dotter:nth-child(0){
  animation-delay:0s;
}
.dotter:nth-child(1){
  animation-delay:0.2s;
}
.dotter:nth-child(2){
  animation-delay:0.4s;
}

@keyframes scaling{
  0%, 100%{
    transform: scale(0.2);
    background-color: #30FFB7;
  }
  40%{
    transform: scale(1);
    background-color: #07DEFF;
  }
  50%{
    transform: scale(1);
    background-color: #0761FF;
  }
}