.App {
  text-align: center;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #999999;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}

audio:focus {
  outline: none;
}